/* :: 3.0 Preloader Area CSS */

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    top: 0;
    left: 0;
    background: $primary;
    //background-image: -webkit-linear-gradient(120deg, rgb(80, 23, 221) 0%, rgb(1, 1, 1) 100%);
    //background-image: -ms-linear-gradient(120deg, rgb(80, 90, 232) 0%, rgb(1, 66, 1) 100%);
    @include display-flex(flex);
    @include align-items-center;
    @include justify-content-center;
    overflow: hidden;
}

.loader {
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    @include animation(loader linear 2s infinite);
    border-top: 2px solid $white;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

@-webkit-keyframes loader {

    0% {
        @include transform(rotate(0deg));
    }

    100% {
        @include transform(rotate(360deg));
    }
}

@keyframes loader {

    0% {
        @include transform(rotate(0deg));
    }

    100% {
        @include transform(rotate(360deg));
    }
}
